<fieldset data-hook="bitcredits">
  <legend align="center"><%= Spree.t(:transaction, :scope => :bitcredits) %></legend>

 
  
</fieldset>

<% if payment.log_entries %>
<fieldset data-hook="bitcredits">
  <legend><%= Spree.t(:payment_log, :scope => :bitcredits) %></legend>

  <% payment.log_entries.reverse.each do |log| %>
  <div class="row bitcredits_log_entry">
    <span>Updated at <%= log.updated_at %>:</span>
    <p><%= log[:details] %></p>
  </div>
  <% end %>
</fieldset>
<% end %>
