<div id='bitcredits-warning' style="display:none">
  <strong>You cannot charge bitcredits accounts through the admin backend at this time.</strong>
</div>
<script>
  SpreeBitCredits.paymentMethodID = "<%= payment_method.id %>"
</script>
